<div class="panel panel-default">
    <div class="panel-heading">Session Data</div>
    <div class="panel-body">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScXRASZ5FKO2VYZ-X9b9m2KzpjquymheMBQzlj_11-swzLnmQ/viewform?embedded=true"
            width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
</div>
<button type="button" class="btn btn-block btn-primary" ng-click="checkout()">Check-out</button>
<button type="button" class="btn btn-block btn-info" ng-click="status()">Update Status</button>
<button type="button" class="btn btn-block btn-danger" ng-click"emergency()">Emergency</button>