<div id="PAGE-update">
    <div class="page-header">Update Status</div>
    <form class="update-form" action="">
        <div class="form-item">
            <label for="subject">Title</label>
            <input type="text" id="subject">
        </div>
        <div class="form-item">
            <label for="description">Status</label>
            <textarea type="text" id="description" rows="8"></textarea>
        </div>
        <div class="form-item">
            <button type="submit" id="submit-item-button">Submit</button>
        </div>
    </form>
</div>