body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-header {
  font-size: 1.4em;
}

#PAGE-update {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-form {
  width: 100%;
  max-width: 1200px;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}